<div class="footer">
    <p style="text-align: center;">© Copyright 2024-25. Raina Diagnostic Laboratory. All rights reserved</p>
    <p style="text-align: center;"><span class="ft1">Address :</span> Opposite SBI Bohri, Jammu, Jammu and Kashmir - 180002</p>
    <p style="text-align: center;"><span class="ft1">Timings :</span> Mon to Sat: 7am to 6pm, Sunday : Open till 4 pm</p>
</div>

</body>
</html>