<%- include("partials/header"); -%>

<div class="about">

    <div class="intro">
      <p class="intro1" style="margin-top: 30px">About Us</p>
    </div>

    <div class="container text-center about-grid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img
            src="/images/labfront2-copy.jpg"
            width="75%"
            height="auto"
            alt=""
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 about-content">
          <div>
            <p class="p4">
              Raina Diagnostic Laboratory is a leading healthcare partner
              committed to providing accurate and reliable diagnostic
              services.
            </p>
            <p class="p4">
              With a focus on precision and compassion, our state-of-the-art
              facility offers a comprehensive range of tests, ensuring timely
              and reliable results.
            </p>
            <p class="p4">
              Our dedicated team, commitment to quality, and patient-centric
              approach make us a trusted name in diagnostics.
            </p>
            <p class="p4">
              We aim to contribute to the well-being of our community by
              staying at the forefront of innovation and actively engaging in
              health initiatives.
            </p>
            <p class="p4">
              Choose Raina Diagnostic Laboratory for excellence in diagnostics
              and a healthier tomorrow.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>